{% extends 'base.html' %}

{% block title %}Povrce: {{ povrce.name }}{% endblock title %}

{% block content %}
<h1>{{ povrce.name }}</h1>
<h3>{{ povrce.description }}</h3>
{% if povrce.vrsta %}
	<p>Vrsta povrća: {{ povrce.get_vrsta_display }}</p>
{% endif %}
{% if povrce.country_of_origin.name %}
	<p>Zemlja porijekla: {{ povrce.country_of_origin.name }}</p>
	<img src="{{ povrce.country_of_origin.flag }}" alt="">
{% endif %}
<hr/>
<h3>Submitted by
	<a href="{% url 'users:detail' povrce.creator.username %}">
		{{ povrce.creator.username }}
	</a>
</h3>
	{% if povrce.creator.name %}
		<p>{{ povrce.creator.name }}</p>
	{% endif %}
{% endblock content %}
